<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/reminders"></ion-back-button>
    </ion-buttons>
    <ion-title>Neue Erinnerung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Titel</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Beschreibung</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Start</ion-label>
            <ion-datetime display-format="DD MMM YYYY HH:mm" picker-format="DD MMM YYYY HH:mm" formControlName="startTime"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Ende</ion-label>
          <ion-datetime display-format="DD MMM YYYY HH:mm" picker-format="DD MMM YYYY HH:mm" formControlName="endTime" [disabled]="isAllDay"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Ganztägig?</ion-label>
            <ion-checkbox formControlName="allDay" (click)="allDayChecked()"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button (click)="onSubmitReminding()" [disabled]="!form.valid" expand="full" size="large">Speichern</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
